@import '../variables';

.categories {
    ul {
        display: flex;

        li {
            background-color: #F9F9F9;
            padding: 13px 30px;
            border-radius: 30px;
            margin-right: 10px;
            font-weight: bold;
            cursor: pointer;
            
        }
    }
}