.root {
  position: relative;
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 8px 15px;
  padding-left: 42px;
  width: 300px;
  border-radius: 10px;
  transition: all 0.15s ease-in-out;

  &:focus {
    border: 2px solid rgba(0, 0, 0, 0.1);
    width: 400px;
  }
}

.icon {
  width: 24px;
  height: 22px;
  opacity: 0.3;
  position: relative;
  left: 14px;
  top: 12px;
}

.clearicon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}